.dsf_jhg__k {
    display: block;
    width: 100%;
    text-align: center;
    margin: 20px 0 20px 0;
}

.qwcd img {
    margin: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-size: 40px 40px;
}

.qwcd.nhy .wethj_gf:before {
    position: absolute;
    display: block;
    content: '';
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-size: 40px 40px;
    box-shadow: inset 0 0 0 3px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.3);
}

.fdger_ghfdfd .rtr_fdss {
    ms-user-select: none;
    moz-user-select: none;
    webkit-user-select: none;
    user-select: none;
    display: inline-block;
    cursor: pointer;
    transition: opacity 0.5s ease-in-out;
}

.fdger_ghfdfd .rtr_fdss:hover {
    opacity: 0.5;
}

.fdger_ghfdfd {
    margin: 10px 0 10px;
    width: 100%;
    overflow: hidden;
    display: block;
}

._fgfd_bfdg {
    width: 85%;
    float: right;
    display: inline-block;
}

._fgfd_bfdg .uu_pp{
    width: 100%;
    word-break: break-all;
}

.fffty {
    display: block;
    margin-top: 15px;
}

._fgfd_bfdg .de_gh{
    margin: 8px 0 8px 10px;
    line-height: 20px;
    word-break: break-all;
}

.fd_ddss {
    float: right;
}

.uu_pp, .ghj_hg {
    display: inline-block;
    font-size: 12px;
}